<main id="main" class="main">

    <div class="pagetitle mt-5">
       <h1>Room details</h1>
    </div>
    <section class="section profile">
       <div class="row">
          <div class="col-xl-4">
             <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                   <img src="assets/img/room.jpg" alt="Profile" class="" >
                </div>
             </div>
          </div>
          <div class="col-xl-8">
             <div class="card">
                <div class="card-body pt-3">
                   <ul class="nav nav-tabs nav-tabs-bordered">
                      <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Room</button></li>
                   </ul>
                   <div class="tab-content pt-2">
                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                         <h5 class="card-title">Description</h5>
                         <p class="small fst-italic">
                          {{ room.description }}
                         </p>
                         <h5 class="card-title">Room Details</h5>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Type</div>
                            <div class="col-lg-9 col-md-8">{{ room.type }}</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Prix</div>
                            <div class="col-lg-9 col-md-8"> {{ room.price }} MAD</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Capacity </div>
                            <div class="col-lg-9 col-md-8"> {{room.capacity}} personnes</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Options</div>
                            <div class="col-lg-9 col-md-8">comming soon...</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Extra services</div>
                            <div class="col-lg-9 col-md-8">Comming soon...</div>
                         </div>
                      </div>
                      <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                         <form (submit)="saveChangesRoom()">
                            <div class="row mb-3 d-none">
                               <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Room Image</label>
                               <div class="col-md-8 col-lg-9">
                                  <img src="assets/img/room.jpg" alt="Profile">
                                  <div class="pt-2"> <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a> <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></div>
                               </div>
                            </div>
                            <div class="row mb-3">
                               <label for="type" class="col-md-4 col-lg-3 col-form-label">Type</label>
                               <div class="col-md-8 col-lg-9">
                                <select name="type" id="type" class="form-control" [(ngModel)]="room.type">
                                  <option value="single" class="text-uppercase"> single room </option>
                                  <option value="studio" class="text-uppercase"> studio room </option>
                                  <option value="deluxe" class="text-uppercase"> Deluxe room </option>
                                  <option value="suites" class="text-uppercase"> suites </option>
                                  <option value="presidentiel" class="text-uppercase"> presidential room </option>
                              </select>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="type" class="col-md-4 col-lg-3 col-form-label">Capacity</label>
                              <div class="col-md-8 col-lg-9">
                               <input name="capacity" type="number" class="form-control" id="type" [(ngModel)]="room.capacity">
                             </div>
                           </div>
                           <div class="row mb-3">
                            <label for="type" class="col-md-4 col-lg-3 col-form-label">Price</label>
                            <div class="col-md-8 col-lg-9">
                             <input name="price" type="text" class="form-control" id="type" [(ngModel)]="room.price">
                           </div>
                         </div>
                            <div class="row mb-3">
                               <label for="description" class="col-md-4 col-lg-3 col-form-label">Description</label>
                               <div class="col-md-8 col-lg-9">
                                <textarea name="description" class="form-control" id="description" style="height: 100px" [(ngModel)]="room.description"></textarea>
                              </div>
                            </div>
                            <div class="text-center"> <button type="submit" class="btn btn-primary">Save Changes</button></div>
                         </form>
                      </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </section>


  <div class="pagetitle d-flex justify-content-between mb-5 mt-5">
    <h2>Reservation list</h2>
 </div>
 <hr class="mt-5 mb-5">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Client</th>
        <th scope="col">Du</th>
        <th scope="col">Au</th>
        <th scope="col">Prix</th>
        <th scope="col">Jours</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>Tayeb</td>
        <td>20/01/2023</td>
        <td>23/01/2023</td>
        <td> 300 Dh</td>
        <td> 3 </td>
        <td>
          <button type="button" class="btn btn-danger">Annuler</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
