<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between mb-5">
    <h2>Reservation list</h2>
    <a href="#" routerLink="/addhotel" class="btn btn-primary">Ajouter Hotel</a>
 </div>
 <hr class="mt-5 mb-5">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">Client</th>
        <th scope="col">Du</th>
        <th scope="col">Au</th>
        <th scope="col">Prix</th>
        <th scope="col">Jours</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>Tayeb</td>
        <td>20/01/2023</td>
        <td>23/01/2023</td>
        <td> 300 Dh</td>
        <td> 3 </td>
        <td>
          <button type="button" class="btn btn-danger">Annuler</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
