<app-header *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404' || _router.url === '/home' || _router.url === '/')"></app-header>
<app-sidebar *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404' || _router.url === '/home' || _router.url === '/')"></app-sidebar>
<router-outlet></router-outlet>
<app-footer *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404' || _router.url === '/home' || _router.url === '/')"></app-footer>
