<main id="main" class="main">
  <div class="row">
    <div class="col-md-4">
      <img
        src="https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="w-100" alt="">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-between">
      <div>
        <h3>{{ hotel.name }}</h3>
        <hr>
        <p class="mt-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum iure accusantium illo quibusdam est ducimus
          voluptate possimus adipisci ex alias natus, libero dicta consequatur soluta culpa magni magnam! Ab, eius?
        </p>
      </div>
      <div>
        <h4>Adresse : </h4>
        <p>
          Adresse : {{ hotel.addresseHotel.address}} <br>
          Ville : {{ hotel.addresseHotel.city }} <br>
          Pays : {{ hotel.addresseHotel.country }}
        </p>
      </div>
      <div class="row stats">
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Revenue <span></span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-currency-dollar h2"></i>
                </div>
                <div class="ps-3">
                  <h6>145 MAD</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title"> Rooms <span></span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-ticket-perforated h2"></i></div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title"> Reservation <span></span></h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="bi bi-ticket-perforated h2"></i></div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-5">
  <div class="rooms">
    <div class="pagetitle d-flex justify-content-end">
      <a href="#" routerLink="/addroom/{{hotel.id}}" class="btn btn-primary">Ajouter Chambre</a>
    </div>
    <h5 class="card-title">Hotels List</h5>
    <div class="card-body pb-0" *ngFor="let room of hotel.rooms">
      <div class="card mb-3" routerLink="/detailsroom/{{room.id}}">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ room.type }}
              </h5>
              <p class="card-text">
                {{ room.description }}
              </p>
              <p class="card-text">
                <small class="text-muted"> For {{ room.capacity }} Personnes </small>
              </p>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</main>
