<main id="main" class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" alt="">
      </div>
      <div class="col-md-6">
        <h3>{{ hotel.name }}</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum iure accusantium illo quibusdam est ducimus voluptate possimus adipisci ex alias natus, libero dicta consequatur soluta culpa magni magnam! Ab, eius?
        </p>
        <h4>Adresse : </h4>
        <p>
          Adresse : {{ hotel.addresseHotel.address}} <br>
          Ville : {{ hotel.addresseHotel.city }} <br>
          Pays : {{ hotel.addresseHotel.country }}
        </p>
      </div>
    </div>
    <div class="row rooms mt-5">
      <div class="card col-md-3">
        <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="..." style="height: 40%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-3">
        <img src="https://images.pexels.com/photos/4992451/pexels-photo-4992451.jpeg" class="card-img-top" alt="..." style="height: 40%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-3">
        <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="..." style="height: 40%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-3">
        <img src="https://images.pexels.com/photos/276671/pexels-photo-276671.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="..." style="height: 40%;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</main>
