<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
     <li class="nav-item">
      <a class="nav-link " routerLink="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/hotels">
        <i class="bi bi-grid"></i>
        <span>Hotels</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/chambres">
        <i class="bi bi-grid"></i>
        <span>Chanbres</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/reservations">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/users">
        <i class="bi bi-grid"></i>
        <span>Utilisateurs</span>
      </a>
    </li>

  </ul>
</aside>
